<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Slack -> Riot.im Migration Tool</title>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <link type='text/css' rel='stylesheet' href='{{mount}}/static/css/style.css'>
    </head>
    <body>
        <!--<script type="text/javascript" src="bin/app.js"></script> -->
        <div id="center">
            <div id="header">
                <img src="{{mount}}/static/images/green_slack.png">
                <img src="{{mount}}/static/images/green_arrow.png">
                <img src="{{mount}}/static/images/riot.png">
            </div>
            <div id="content-title">
                <h1>
                    Import account settings
                </h1>
            </div>
            <div id="content">
                <h3>Welcome!</h3>
                <p>
                    Welcome to Riot.im, the free and open source collaboration tool build
                    on top of matrix - the open protocol for decentralised, federated encrypted messaging.
                </p>
                <h3>Migration details:</h3>
                <div class="rows">
                    <div class="row">
                        <label>Slack Team:</label>
                        <span class="value">
                            {{slack_team}}
                        </span>
                    </div>
                    <div class="row">
                        <label>Slack Username:</label>
                        <span class="value">
                            {{slack_username}}
                        </span>
                    </div>
                    <div class="row">
                        <label>Matrix Homeserver:</label>
                        <span class="value">
                            {{matrix_homeserver}}
                        </span>
                    </div>
                    <div class="row">
                        <label>Matrix ID:</label>
                        <span class="value">
                            {{matrix_id}}
                        </span>
                    </div>
                </div>
                <h3>Choose a new password:</h3>
                <div class="rows">
                    <div class="row">
                        <label>Password:</label>
                        <span class="value">
                            <input id='pw' type="password">
                        </span>
                    </div>
                    <div class="row">
                        <label>Confirm Password:</label>
                        <span class="value">
                            <input id='pw2' type="password">
                        </span>
                    </div>
                </div>
                <button id='submit'>Claim my Riot.im account</button>
            </div>
            <div id="footer">
                <span>
                    Powered by <a href="https://riot.im/app">riot.im</a> and <a href="https://matrix.org">matrix.org</a>
                </span>
            </div>
        </div>
        <script type='text/javascript'>
            pwmatch = function() {
                if($('#pw').val() === $('#pw2').val()
                   && $('#pw').val() != '') {
                    $('#submit').html('Claim my Riot.im account');
                    $('#submit').prop('disabled', false);
                }
                else {
                    $('#submit').html('Passwords don\'t match!');
                    $('#submit').prop('disabled', true);
                }
            };
            $('#pw').change(pwmatch);
            $('#pw2').change(pwmatch);
            $('#submit').click(function() {
                $.ajax({
                    url: '{{mount}}/api/claim',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(
                        {
                            user: '{{matrix_id}}',
                            password: $('#pw').val(),
                            homeserver: '{{matrix_homeserver}}',
                            team: '{{slack_team}}',
                            code: '{{code}}' 
                        }),
                    success: function() {
                    },
                    error: function(response) {
                    }
                });
            });  
        </script>
    </body>
</html>
