<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Slack -> Riot.im Sync Tool</title>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
        <link type='text/css' rel='stylesheet' href='{{mount}}/static/css/style.css'>
    </head>
    <body>
        <div id="center">
            <div id="header">
                <img src="{{mount}}/static/images/green_slack.png">
                <img src="{{mount}}/static/images/green_arrow.png">
                <img src="{{mount}}/static/images/riot.png">
            </div>
            <div id="content-title">
                <h1>
                    Initiate migration
                </h1>
            </div>
            <div id="content">
                <h3>Account sync details:</h3>
                <div class="rows">
                    <div class="row">
                        <label>Homeserver:</label>
                        <span class="value">
                            <input id='homeserver' type="text" placeholder="e.g. https://matrix.org">
                        </span>
                    </div>
                    <div class="row">
                        <label>Regstration secret:</label>
                        <span class="value">
                            <input id='reg_secret' type="text">
                        </span>
                    </div>
                </div>
                <h3>Slack accounts:</h3>
                <div class="rows">
                    {% for user in users %}
                        <div class="row" id="{{user['id']}}"><img src="{{user['img']}}">{{user['name']}}</div>
                    {% endfor %}
                </div>
                <button id='send'>Initiate migration</button>
            </div>
            <div id="footer">
                <span>
                    Powered by <a href="https://riot.im/app">riot.im</a> and <a href="https://matrix.org">matrix.org</a>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $('#send').click(function() {
                $.ajax({
                    url: '{{mount}}/api/users',
                    success: function(users) {
                        $('#send').off();
                        $('#send').html('Sync initiated!');
                        $('#send').prop('disabled', true);
                        users.forEach(function(user) {
                            $.ajax({
                                url: '{{mount}}/api/sync/' + user['id'],
                                method: 'POST',
                                contentType: "application/json",
                                data: JSON.stringify(
                                    {
                                        homeserver: $('#homeserver').val(),
                                        registration_secret: $('#reg_secret').val()
                                    }),
                                success: function() {
                                    $('#' + user['id']).append($('<span>DONE</span>')); 
                                },
                                error: function(response) {
                                    $('#' + user['id']).append($('<span>' + response.responseText + '</span>')); 
                                }
                            });
                        });
                    },
                    error: function(e) {
                        alert('Sorry; something went wrong.');
                        console.log(e);
                    }
                });
            });
        </script>
    </body>
</html>
